@{
    ViewBag.Title = "Samples";
    ViewBag.SEODescription = "View several EndGate samples to learn key components of the EndGate framework.";
    ViewBag.SamplesPage = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style>
        #codeArea {
            display: none;
        }
    </style>

    @Styles.Render("~/Styles/boxrow.css")
}

<div class="page-header section_header">
    <h3>Samples</h3>
    <p>The below samples are built to showcase some features the EndGate framework provides.  If you'd like to submit a helpful sample shoot an email over to <a href="mailto:contact@endgate.net" target="_blank">contact@endgate.net</a> or submit a Pull Request on <a href="https://github.com/NTaylorMullen/EndGate" target="_blank">EndGate's GitHub page</a>.</p>
    <p><em>Note:</em> At the top of each sample will be directions on how to interact with it and at the bottom of each sample will be the code used to create it.</p>
</div>

<div class="row boxrow">
    <div class="span4">
        <div class="img">
            <a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "Shapes" })">
                <img src="~/Content/Samples/Shapes/thumbnail.png" />
            </a>
        </div>
        <div class="text">
            <h5><a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "Shapes" })">Shapes</a></h5>
            <p>Demonstrates how to use the shapes graphics library.</p>
        </div>
        <div class="author_box">
            <h6>N. Taylor Mullen</h6>
        </div>
    </div>
    <div class="span4">
        <div class="img">
            <a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "Text" })">
                <img src="~/Content/Samples/Text/thumbnail.png" />
            </a>
        </div>
        <div class="text">
            <h5><a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "Text" })">Text</a></h5>
            <p>Demonstrates how to use the Text2d object within the graphics library.</p>
        </div>
        <div class="author_box">
            <h6>N. Taylor Mullen</h6>
        </div>
    </div>
    <div class="span4 last">
        <div class="img">
            <a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "Sprites" })">
                <img src="~/Content/Samples/Sprites/thumbnail.png" />
            </a>
        </div>
        <div class="text">
            <h5><a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "Sprites" })">Sprites</a></h5>
            <p>Demonstrates how to use the sprites (images) graphics library.</p>
        </div>
        <div class="author_box">
            <h6>N. Taylor Mullen</h6>
        </div>
    </div>
</div>

<div class="row boxrow">
    <div class="span4">
        <div class="img">
            <a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "MouseInput" })">
                <img src="~/Content/Samples/MouseInput/thumbnail.png" />
            </a>
        </div>
        <div class="text">
            <h5><a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "MouseInput" })">Mouse Input</a></h5>
            <p>Demonstrates how to use a games mouse input handler.</p>
        </div>
        <div class="author_box">
            <h6>N. Taylor Mullen</h6>
        </div>
    </div>
    <div class="span4">
        <div class="img">
            <a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "CollisionDetection" })">
                <img src="~/Content/Samples/CollisionDetection/thumbnail.png" />
            </a>
        </div>
        <div class="text">
            <h5><a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "CollisionDetection" })">Collision Detection</a></h5>
            <p>Demonstrates how to use the client to detect collisions.</p>
        </div>
        <div class="author_box">
            <h6>N. Taylor Mullen</h6>
        </div>
    </div>
    <div class="span4 last">
        <div class="img">
            <a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "CollisionInspector" })">
                <img src="~/Content/Samples/CollisionInspector/thumbnail.png" />
            </a>
        </div>
        <div class="text">
            <h5><a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "CollisionInspector" })">Collision Inspector</a></h5>
            <p>Allows the dragging and rotating of shapes to inspect collisions closely.</p>
        </div>
        <div class="author_box">
            <h6>N. Taylor Mullen</h6>
        </div>
    </div>
</div>

<div class="row boxrow">
    <div class="span4">
        <div class="img">
            <a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "KeyboardInput" })">
                <img src="~/Content/Samples/KeyboardInput/thumbnail.png" />
            </a>
        </div>
        <div class="text">
            <h5><a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "KeyboardInput" })">Keyboard Input</a></h5>
            <p>Demonstrates how to use a games keyboard input handler.</p>
        </div>
        <div class="author_box">
            <h6>N. Taylor Mullen</h6>
        </div>
    </div>
    <div class="span4">
        <div class="img">
            <a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "MovementControllers" })">
                <img src="~/Content/Samples/MovementControllers/thumbnail.png" />
            </a>
        </div>
        <div class="text">
            <h5><a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "MovementControllers" })">Movement Controllers</a></h5>
            <p>Demonstrates how to use Movement Controllers to make moving objects easy.</p>
        </div>
        <div class="author_box">
            <h6>N. Taylor Mullen</h6>
        </div>
    </div>
    <div class="span4 last">
        <div class="img">
            <a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "InputControllers" })">
                <img src="~/Content/Samples/InputControllers/thumbnail.png" />
            </a>
        </div>
        <div class="text">
            <h5><a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "InputControllers" })">Input Controllers</a></h5>
            <p>Demonstrates how to use input controllers to make moving controlling objects dead simple.</p>
        </div>
        <div class="author_box">
            <h6>N. Taylor Mullen</h6>
        </div>
    </div>
</div>

<div class="row boxrow">
    <div class="span4">
        <div class="img">
            <a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "AnimatedSprites" })">
                <img src="~/Content/Samples/AnimatedSprites/thumbnail.png" />
            </a>
        </div>
        <div class="text">
            <h5><a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "AnimatedSprites" })">Animated Sprites</a></h5>
            <p>Demonstrates how to animate sprites with sprite sheets.</p>
        </div>
        <div class="author_box">
            <h6>N. Taylor Mullen</h6>
        </div>
    </div>
    <div class="span4">
        <div class="img">
            <a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "Layering" })">
                <img src="~/Content/Samples/Layering/thumbnail.png" />
            </a>
        </div>
        <div class="text">
            <h5><a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "Layering" })">Layering</a></h5>
            <p>Demonstrates how to control the layering of graphics.</p>
        </div>
        <div class="author_box">
            <h6>N. Taylor Mullen</h6>
        </div>
    </div>
    <div class="span4 last">
        <div class="img">
            <a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "AudioHandling" })">
                <img src="~/Content/Samples/AudioHandling/thumbnail.png" />
            </a>
        </div>
        <div class="text">
            <h5><a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "AudioHandling" })">Audio Handling</a></h5>
            <p>Demonstrates how to play audio.</p>
        </div>
        <div class="author_box">
            <h6>N. Taylor Mullen</h6>
        </div>
    </div>
</div>

<div class="row boxrow">
    <div class="span4">
        <div class="img">
            <a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "MapCreator" })">
                <img src="~/Content/Samples/MapCreator/thumbnail.png" />
            </a>
        </div>
        <div class="text">
            <h5><a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "MapCreator" })">Map Creator</a></h5>
            <p>Demonstrates a accumulation of EndGate assets to help create SquareTileMaps visually.</p>
        </div>
        <div class="author_box">
            <h6>N. Taylor Mullen</h6>
        </div>
    </div>
    <div class="span4">
        <div class="img">
            <a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "Camera" })">
                <img src="~/Content/Samples/Camera/thumbnail.png" />
            </a>
        </div>
        <div class="text">
            <h5><a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "Camera" })">Camera</a></h5>
            <p>Demonstrates how to use the camera's movement and zooming capabilities.</p>
        </div>
        <div class="author_box">
            <h6>N. Taylor Mullen</h6>
        </div>
    </div>
    <div class="span4 last">
        <div class="img">
            <a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "RawRPG" })">
                <img src="~/Content/Samples/RawRPG/thumbnail.png" />
            </a>
        </div>
        <div class="text">
            <h5><a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "RawRPG" })">Raw RPG</a></h5>
            <p>Demonstrates a basic RPG setup with an environment, character, controllers etc.</p>
        </div>
        <div class="author_box">
            <h6>N. Taylor Mullen</h6>
        </div>
    </div>
</div>

<div class="row boxrow">
    <div class="span4">
        <div class="img">
            <a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "Tweening" })">
                <img src="~/Content/Samples/Tweening/thumbnail.png" />
            </a>
        </div>
        <div class="text">
            <h5><a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "Tweening" })">Tweening</a></h5>
            <p>Demonstrates how to use tweens to animate objects.</p>
        </div>
        <div class="author_box">
            <h6>N. Taylor Mullen</h6>
        </div>
    </div>
    <div class="span4">
        <div class="img">
            <a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "MapLoading" })">
                <img src="~/Content/Samples/MapLoading/thumbnail.png" />
            </a>
        </div>
        <div class="text">
            <h5><a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "MapLoading" })">Map Loading</a></h5>
            <p>Demonstrates how to load maps described by JSON.</p>
        </div>
        <div class="author_box">
            <h6>N. Taylor Mullen</h6>
        </div>
    </div>
    <div class="span4 last">
        <div class="img">
            <a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "Particles" })">
                <img src="~/Content/Samples/Particles/thumbnail.png" />
            </a>
        </div>
        <div class="text">
            <h5><a href="@Url.RouteUrl("Samples", new { controller = "Samples", sample = "Particles" })">Particles</a></h5>
            <p>Demonstrates how to use and control a particle emitter.</p>
        </div>
        <div class="author_box">
            <h6>N. Taylor Mullen</h6>
        </div>
    </div>
</div>

<div class="clear"></div>
