@{
    ViewBag.Title = "Samples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style>
        #codeArea {
            display: none;
        }
    </style>
}

<div class="hero-unit">
    <h1>EndGate Samples</h1>
    <p>Powered by TypeScript to build elegant games.</p>
</div>

<div class="page-header">
    <h2>Samples</h2>
</div>

<!-- Samples -->
<div class="row">
    <div class="span4">
        <h3>Shapes</h3>
        <p>Demonstrates how to use the shapes graphics library.</p>
        <p><a class="btn" href="@Url.RouteUrl("Default", new {controller="Samples", action="Shapes"})">View sample &raquo;</a></p>
    </div>

    <div class="span4">
        <h3>Text</h3>
        <p>Demonstrates how to use the Text2d object within the graphics library.</p>
        <p><a class="btn" href="@Url.RouteUrl("Default", new {controller="Samples", action="Text"})">View sample &raquo;</a></p>
    </div>

    <div class="span4">
        <h3>Sprites</h3>
        <p>Demonstrates how to use the sprites (images) graphics library.</p>
        <p><a class="btn" href="@Url.RouteUrl("Default", new {controller="Samples", action="Sprites"})">View sample &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="span4">
        <h3>Mouse Input</h3>
        <p>Demonstrates how to use a games mouse input handler.</p>
        <p><a class="btn" href="@Url.RouteUrl("Default", new {controller="Samples", action="MouseInput"})">View sample &raquo;</a></p>
    </div>

    <div class="span4">
        <h3>Collision Detection</h3>
        <p>Demonstrates how to use the client to detect collisions.</p>
        <p><a class="btn" href="@Url.RouteUrl("Default", new {controller="Samples", action="CollisionDetection"})">View sample &raquo;</a></p>
    </div>

    <div class="span4">
        <h3>Collision Inspector</h3>
        <p>Allows the dragging and rotating of shapes to inspect collisions closely.</p>
        <p><a class="btn" href="@Url.RouteUrl("Default", new {controller="Samples", action="CollisionInspector"})">View sample &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="span4">
        <h3>Keyboard Input</h3>
        <p>Demonstrates how to use a games keyboard input handler.</p>
        <p><a class="btn" href="@Url.RouteUrl("Default", new {controller="Samples", action="KeyboardInput"})">View sample &raquo;</a></p>
    </div>

    <div class="span4">
        <h3>Movement Controllers</h3>
        <p>Demonstrates how to use Movement Controllers to make moving objects easy.</p>
        <p><a class="btn" href="@Url.RouteUrl("Default", new {controller="Samples", action="MovementControllers"})">View sample &raquo;</a></p>
    </div>

    <div class="span4">
        <h3>Input Controllers</h3>
        <p>Demonstrates how to use input controllers to make moving controlling objects dead simple.</p>
        <p><a class="btn" href="@Url.RouteUrl("Default", new {controller="Samples", action="InputControllers"})">View sample &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="span4">
        <h3>Layering</h3>
        <p>Demonstrates how to control the layering of graphics.</p>
        <p><a class="btn" href="@Url.RouteUrl("Default", new {controller="Samples", action="Layering"})">View sample &raquo;</a></p>
    </div>

    <div class="span4">
        <h3>Animated Sprites</h3>
        <p>Demonstrates how to animate sprites with sprite sheets.</p>
        <p><a class="btn" href="@Url.RouteUrl("Default", new {controller="Samples", action="AnimatedSprites"})">View sample &raquo;</a></p>
    </div>

    <div class="span4">
        <h3>Audio Handling</h3>
        <p>Demonstrates how to play audio.</p>
        <p><a class="btn" href="@Url.RouteUrl("Default", new {controller="Samples", action="AudioHandling"})">View sample &raquo;</a></p>
    </div>        
</div>

<div class="row">
    <div class="span4">
        <h3>Camera</h3>
        <p>Demonstrates how to use the camera's movement and zooming capabilities.</p>
        <p><a class="btn" href="@Url.RouteUrl("Default", new {controller="Samples", action="Camera"})">View sample &raquo;</a></p>
    </div>

    <div class="span4">
        <h3>Map Creator</h3>
        <p>Demonstrates a accumulation of EndGate assets to help create SquareTileMaps visually.</p>
        <p><a class="btn" href="@Url.RouteUrl("Default", new {controller="Samples", action="MapCreator"})">View sample &raquo;</a></p>
    </div>

    <div class="span4">
        <h3>Raw RPG</h3>
        <p>Demonstrates a basic RPG setup with an environment, character, controllers etc.</p>
        <p><a class="btn" href="@Url.RouteUrl("Default", new {controller="Samples", action="RawRPG"})">View sample &raquo;</a></p>
    </div>
</div>

<div class="clear"></div>